/* dropdown-container */
.dropdown-container{
   margin: auto;
   width: 28rem;
   height: 20rem;
   border: 1px solid red;
   background-color: aqua;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/* select */
select{
    margin: auto;
    width: 10rem;
    height: 30px;
}

/* select hover */
select:hover{
    color:darkgreen;
}

/* option */
option{
    color:rgb(14, 13, 13);
    background-color: rgb(6, 61, 95,0.7);
}

/* option hover */
option:hover{
    color: rgb(4, 4, 137);
}